<div class = "contenedor">
    <header>
    </header>

    <main>
      <div class="perfil">
        <img src="https://scontent.fmch2-1.fna.fbcdn.net/v/t39.30808-6/352269580_764635975404477_1816647493044239762_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=LYWkC5_VepsAX8zU50M&_nc_ht=scontent.fmch2-1.fna&oh=00_AfDVTVWdPi2ARqzPE9T_Plavn25tRgLdQROczzBDgZAOZQ&oe=64C4348A" class="card-img-top" alt="...">
      </div>

      <div class="texto">
        <h2>
          Mi Bibliografia
        </h2>
        <p>
          Mi nombre es Carlos Isaac Barrezueta Ramon, un joven Ecuatoriano nacido en El Oro, Pasaje, el 15 de Mayo de 2004.
          Tengo 19 años de edad, mis padres son Wilmer Barrezueta y Norma Ramón. Mi familia y mis antepasados son un poco irregulares y curiosos
          ya que desciendo de multiples etnias, en cuestion, más de parte de mi padre, ya que el es una parte chino, otra negro, otra español, etc. Mi mamá y sus antepasados son originarios de Ecuador.
          En sí, no soy muy complicado, me gustan los videojuegos, tener una buena comida como el ceviche, encebollado, chaulafan, caucafan, choclo tieno, etc. Además de que me gusta programar, siempre sale algo nuevo y la verdad es muy entretenido hacerlo.
        </p>
      </div>
    </main>

    <footer>
      <p>
        Hecho por Carlos Isaac Barrezueta Ramon - 05/06/2023
      </p>
    </footer>
  </div>  

